.draggable {
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
}

.draggable > img {
  height: 64px;
  width: 64px;
  margin: auto;
  border-radius: 50%;
  border: 20px solid black;
}

.dropzone {
  display: flex;
  flex: 1;
  justify-content: center;
}

.dropzone > img {
  margin-top: 280px;
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

body {
  background-image: url("./img/lion-king.png");
  background-position: center;
}

html {
  height: 100%;
}