.draggable {
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  display: flex;
  justify-content: center;     
}

.draggable > img {
  height: 64px;
  width: 64px;
  margin: auto  ;
}

.dropzone {
  flex: 1;
  display: flex;
  justify-content: center;   
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}